<div @ref="elem" class="ct-chart" @attributes="@ExtraAttributes">
    TODO: Implement chartist.js creation of a chart
</div>

<CascadingValue Value="@this">
    @ChildContent
</CascadingValue>

@inject IJSRuntime JS

@code {
    ElementReference elem;

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public ChartType Type {get; set; }
    [Parameter] public ChartData Data { get; set; } = new ChartData();
    [Parameter] public IEnumerable<string> Labels { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> ExtraAttributes { get; set; }
  
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("BlazorChartist.createChart", elem, Type.ToString());
        }

        if (Labels != null)
        {
            Data.Labels = Labels;
        }

        await JS.InvokeVoidAsync("BlazorChartist.updateChart", elem, Data);
    }
}